In [12]:
import pandas as pd
%matplotlib inline
df = pd.read_csv('COVID19_20200331.csv',sep=';')
df.head(3)

,regiao,estado,data,casosNovos,casosAcumulados,obitosNovos,obitosAcumulado
0,Norte,RO,30/01/2020,0,0,0,0
1,Norte,RO,31/01/2020,0,0,0,0
2,Norte,RO,01/02/2020,0,0,0,0

In [11]:
df.shape

(1674, 7)

In [2]:
df.dtypes

regiao             object
estado             object
data               object
casosNovos          int64
casosAcumulados     int64
obitosNovos         int64
obitosAcumulado     int64
dtype: object

In [3]:
df.describe()

        casosNovos  casosAcumulados  obitosNovos  obitosAcumulado
count  1674.000000      1674.000000  1674.000000      1674.000000
mean      3.415173        22.191756     0.120072         0.586022
std      23.663315       114.005855     1.054653         6.136917
min       0.000000         0.000000     0.000000         0.000000
25%       0.000000         0.000000     0.000000         0.000000
50%       0.000000         0.000000     0.000000         0.000000
75%       0.000000         2.000000     0.000000         0.000000
max     822.000000      2339.000000    23.000000       136.000000

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1674 entries, 0 to 1673
Data columns (total 7 columns):
regiao             1674 non-null object
estado             1674 non-null object
data               1674 non-null object
casosNovos         1674 non-null int64
casosAcumulados    1674 non-null int64
obitosNovos        1674 non-null int64
obitosAcumulado    1674 non-null int64
dtypes: int64(4), object(3)
memory usage: 72.0+ KB