In [1]:
import pandas as pd
%matplotlib inline
df = pd.read_csv('COVID19_20200331.csv',sep=';')
df.head(3)

,regiao,estado,data,casosNovos,casosAcumulados,obitosNovos,obitosAcumulado
0,Norte,RO,30/01/2020,0,0,0,0
1,Norte,RO,31/01/2020,0,0,0,0
2,Norte,RO,01/02/2020,0,0,0,0

In [2]:
df.shape

(1674, 7)

In [3]:
df.dtypes

regiao             object
estado             object
data               object
casosNovos          int64
casosAcumulados     int64
obitosNovos         int64
obitosAcumulado     int64
dtype: object

In [4]:
df.describe()

        casosNovos  casosAcumulados  obitosNovos  obitosAcumulado
count  1674.000000      1674.000000  1674.000000      1674.000000
mean      3.415173        22.191756     0.120072         0.586022
std      23.663315       114.005855     1.054653         6.136917
min       0.000000         0.000000     0.000000         0.000000
25%       0.000000         0.000000     0.000000         0.000000
50%       0.000000         0.000000     0.000000         0.000000
75%       0.000000         2.000000     0.000000         0.000000
max     822.000000      2339.000000    23.000000       136.000000

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1674 entries, 0 to 1673
Data columns (total 7 columns):
regiao             1674 non-null object
estado             1674 non-null object
data               1674 non-null object
casosNovos         1674 non-null int64
casosAcumulados    1674 non-null int64
obitosNovos        1674 non-null int64
obitosAcumulado    1674 non-null int64
dtypes: int64(4), object(3)
memory usage: 72.0+ KB

In [6]:
df.count()

regiao             1674
estado             1674
data               1674
casosNovos         1674
casosAcumulados    1674
obitosNovos        1674
obitosAcumulado    1674
dtype: int64

In [19]:
# vamos criar um subconjunto dos dados originais
df_sp = df[df['estado']=='SP']

# linhas iniciais
df_sp.head(100)

,regiao,estado,data,casosNovos,casosAcumulados,obitosNovos,obitosAcumulado
1178,Sudeste,SP,30/01/2020,0,0,0,0
1179,Sudeste,SP,31/01/2020,0,0,0,0
1180,Sudeste,SP,01/02/2020,0,0,0,0
1181,Sudeste,SP,02/02/2020,0,0,0,0
1182,Sudeste,SP,03/02/2020,0,0,0,0
...,...,...,...,...,...,...,...
1235,Sudeste,SP,27/03/2020,171,1223,10,68
1236,Sudeste,SP,28/03/2020,183,1406,16,84
1237,Sudeste,SP,29/03/2020,45,1451,14,98
1238,Sudeste,SP,30/03/2020,66,1517,15,113
1239,Sudeste,SP,31/03/2020,822,2339,23,136

In [21]:
df_sp['casosNovos'].value_counts()

0      33
3       4
1       3
12      2
190     1
65      1
4       1
71      1
9       1
11      1
14      1
16      1
63      1
110     1
172     1
45      1
46      1
114     1
52      1
76      1
822     1
183     1
171     1
66      1
Name: casosNovos, dtype: int64