In [5]:
import pandas as pd
%matplotlib inline
df = pd.read_csv('covid19.csv')
df.head()

,date,state,city,place_type,confirmed,deaths,is_last,estimated_population_2019,city_ibge_code,confirmed_per_100k_inhabitants,death_rate
0,2020-03-27,AC,Rio Branco,city,25,0.0,True,407319.0,1200401.0,6.13770,NaN
1,2020-03-27,AC,NaN,state,25,0.0,True,881935.0,12.0,2.83468,NaN
2,2020-03-27,AL,Maceió,city,11,NaN,True,1018948.0,2704302.0,1.07954,NaN
3,2020-03-27,AL,Porto Real do Colégio,city,1,NaN,True,20066.0,2707503.0,4.98355,NaN
4,2020-03-27,AL,NaN,state,12,NaN,True,3337357.0,27.0,0.35957,NaN

In [6]:
df.shape

(2151, 11)

In [7]:
df.dtypes

date                               object
state                              object
city                               object
place_type                         object
confirmed                           int64
deaths                            float64
is_last                              bool
estimated_population_2019         float64
city_ibge_code                    float64
confirmed_per_100k_inhabitants    float64
death_rate                        float64
dtype: object

In [8]:
df.describe()

,confirmed,deaths,estimated_population_2019,city_ibge_code,confirmed_per_100k_inhabitants,death_rate
count,2151.000000,1868.000000,2.081000e+03,2.081000e+03,2055.000000,105.000000
mean,16.251511,0.361884,2.337236e+06,2.944834e+06,2.575954,0.220392
std,70.176558,3.581731,6.322935e+06,1.596553e+06,6.549919,0.325988
min,0.000000,0.000000,2.878000e+03,1.100000e+01,0.002180,0.004100
25%,1.000000,0.000000,8.984200e+04,2.308104e+06,0.367025,0.017500
50%,2.000000,0.000000,2.821230e+05,3.301702e+06,0.919830,0.055100
75%,6.000000,0.000000,1.204073e+06,4.208906e+06,2.422190,0.333300
max,1223.000000,68.000000,4.591905e+07,5.300108e+06,69.492700,1.000000

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2151 entries, 0 to 2150
Data columns (total 11 columns):
date                              2151 non-null object
state                             2151 non-null object
city                              1785 non-null object
place_type                        2151 non-null object
confirmed                         2151 non-null int64
deaths                            1868 non-null float64
is_last                           2151 non-null bool
estimated_population_2019         2081 non-null float64
city_ibge_code                    2081 non-null float64
confirmed_per_100k_inhabitants    2055 non-null float64
death_rate                        105 non-null float64
dtypes: bool(1), float64(5), int64(1), object(4)
memory usage: 136.6+ KB

In [15]:
df['deaths'].value_counts()

0.0     1757
1.0       70
3.0       10
2.0        7
9.0        3
6.0        3
5.0        3
4.0        2
10.0       1
62.0       1
68.0       1
53.0       1
15.0       1
8.0        1
44.0       1
48.0       1
36.0       1
40.0       1
30.0       1
22.0       1
58.0       1
Name: deaths, dtype: int64