# Análise de Dados de filmes exibidos no Brasil d 2009 a 2017

Com base nos dados da Ancine (http\\oca.ancine.com.br) vamos analisar os filmes exibidos no Brasil

Arquivo: 2122.xlsx

In [1]:
import pandas as pd
%matplotlib inline
 
df = pd.read_excel('2122.xlsx',skiprows=2,skipfooter=18)

df.head()

,Ano de exibição,Semana de exibição,CPB/ROE,Título da obra,Gênero,País(es) produtor(es) da obra,Nacionalidade da obra,Data de Lançamento,Distribuidora,Origem da empresa distribuidora,Número de Salas na semana dos dados,Público na semana dos dados,Renda (R$) na semana dos dados
0,2009,semana 1,E1402431200000,007 Quantum of Solace,Ficção,"Estados Unidos, Inglaterra",Estrangeira,2008-11-07 00:00:00,Sony,Distribuição Internacional,31,4597,24719.0
1,2009,semana 1,B0700678800000,5 Frações de uma Quase História,Ficção,Brasil,Brasileira,2008-05-09 00:00:00,Usina Digital,Distribuição Nacional,1,24,120.5
2,2009,semana 1,E1600541500000,A Alegria de Emma,Ficção,Alemanha,Estrangeira,2008-10-03 00:00:00,Pandora,Distribuição Nacional,1,42,700.0
3,2009,semana 1,E1600594000000,A Bela Junie,Ficção,França,Estrangeira,2009-01-01 00:00:00,Imovision,Distribuição Nacional,2,1331,15710.5
4,2009,semana 1,E1600127600000,A Casa das Coelhinhas,Ficção,Estados Unidos,Estrangeira,2008-10-10 00:00:00,Sony,Distribuição Internacional,4,402,2011.0

In [2]:
 # Exibir as 5 últimas linhas
df.tail()

,Ano de exibição,Semana de exibição,CPB/ROE,Título da obra,Gênero,País(es) produtor(es) da obra,Nacionalidade da obra,Data de Lançamento,Distribuidora,Origem da empresa distribuidora,Número de Salas na semana dos dados,Público na semana dos dados,Renda (R$) na semana dos dados
56581,2018,semana 9,E1700554600000,TRAMA FANTASMA,Ficção,Estados Unidos,Estrangeira,2018-02-22 00:00:00,Universal,Distribuição Internacional,71,54278,1087018.0
56582,2018,semana 9,E1700443900000,TRÊS ANÚNCIOS PARA UM CRIME,Ficção,"Estados Unidos, Reino Unido",Estrangeira,2018-02-15 00:00:00,Fox,Distribuição Internacional,148,85762,1606231.0
56583,2018,semana 9,E1700328200000,Uma mulher fantástica,Ficção,"Alemanha, Chile, Espanha, Estados Unidos",Estrangeira,2017-09-07 00:00:00,Imovision,Distribuição Nacional,3,463,3651.0
56584,2018,semana 9,E1700608800000,"VISAGES, VILLAGES",Documentário,França,Estrangeira,2018-01-25 00:00:00,Fênix Filmes,Distribuição Nacional,14,1863,26497.0
56585,2018,semana 9,E1700453400000,VIVA - A VIDA É UMA FESTA,Animação,Estados Unidos,Estrangeira,2018-01-04 00:00:00,Disney,Distribuição Internacional,119,20393,284754.0

In [3]:
# Verificar os tipos das colunas
df.dtypes

Ano de exibição                          int64
Semana de exibição                      object
CPB/ROE                                 object
Título da obra                          object
Gênero                                  object
País(es) produtor(es) da obra           object
Nacionalidade da obra                   object
Data de Lançamento                      object
Distribuidora                           object
Origem da empresa distribuidora         object
Número de Salas na semana dos dados      int64
Público na semana dos dados              int64
Renda (R$) na semana dos dados         float64
dtype: object

In [4]:
# Converter o Campo Data de Lançamento em data
df['Data de Lançamento']== pd.to_datetime(df['Data de Lançamento'])

ValueError: ('Unknown string format:', 'Relançamento')

In [9]:
# Identificando o erro 
df['Data de Lançamento'].value_counts()

Relançamento           580
2014-10-23 00:00:00    250
2012-12-21 00:00:00    232
2009-06-05 00:00:00    198
2015-08-20 00:00:00    196
                      ...
42383                    1
2007-09-21 00:00:00      1
42348                    1
42289                    1
40963                    1
Name: Data de Lançamento, Length: 1034, dtype: int64

## Decisão sobre dados incorretos/faltantes/divergentes

In [5]:
df.shape

(56586, 13)

In [12]:
# Criar um novo dataframe sem Telançamento
# não foi possiveç 
df_novo = df[df['Data de Lançamento']!='Relançamento','42383 ','42348','42289', '40963','Name: Data de Lançamento, Length: 1034, dtype: int64'].copy()

TypeError: '(0        True
1        True
2        True
3        True
4        True
         ...
56581    True
56582    True
56583    True
56584    True
56585    True
Name: Data de Lançamento, Length: 56586, dtype: bool, '42383 ', '42348', '42289', '40963', 'Name: Data de Lançamento, Length: 1034, dtype: int64')' is an invalid key

In [13]:
df_novo.dtypes

NameError: name 'df_novo' is not defined

In [ ]:
df_novo['Data de Lançamento']== pd.to_datetime(df_novo['Data de Lançamento'])